@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.App {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 0;
  font-family: "Quicksand";
}
.red {
  font-size: 50px;
  color: #f1356d;
}
.divimg {
  display: flex;
  justify-content: space-between;
}
.video {
  text-align: center;
}
